body{
    background-color: #F0FFFF;
}

.titre{
    display: block;
    text-align: center;
    font-size: 130px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://img.lght.pics/PKPO.jpg);
    background-size: cover;
    background-position: center;
    height: 37%;
    padding: 60px;
}

.box{
    display: flex;
    width: 80%;
    flex-direction: column;
    float: right;
    height: 40px;
    margin-right: 150px;
}

.imgs{
    justify-items: left;
    float: left;
    padding-top: 30px;
    padding-right: 30px;
}
.date{
    display: flex;
    justify-content: left;
    margin-left: 230px;
    margin-bottom: 10px;

}

 button{
     border-radius: 10px;
     display: flex;
     float: right;
     width: 90px;
     text-align: center;
     font-size: 15px;
 }

button:hover{

} 

hr{
    margin-top: 40px;
    color: #5A595b;
}
.content{
     display: flex;
     flex-direction: column;
     float: left;
     width:40%;
     margin-top: 700px;
     margin-left: 100px;
     background-color: #5A595b;
     padding: 50px 60px;
 }
.littitre{
    font-size: 50px;
}

a { 
    text-decoration:none;
}
.video{
    display: flex;
    float: right;
    margin-top: 700px;
    margin-right: 200px;
}

@media(min-width: 768px) and (max-width: 1388px)
{
}