body{
    background-color: #F8FDFF;
    font-family: 'Arial', 'Helvetica', sans-serif;
    height: auto;
    width: auto;
}

.titre{
    display: block;
    text-align: center;
    font-size: 130px;
    color: white;
    background-image: url(https://img.lght.pics/PKPO.jpg);
    background-size: cover;
    background-position: center;
    height: 37%;
    width: auto;
    padding: 60px;
}

.box{
    display: flex;
    width: 80%;
    flex-direction: column;
    float: right;
    margin-right: 150px;
    overflow: scroll;
    overflow: auto;
    height: 400px;

}

.imgs{
    justify-items: left;
    float: left;
    padding-top: 30px;
    padding-right: 30px;
}

.date{
    display: flex;
    justify-content: left;
    margin-left: 230px;
    margin-bottom: 10px;
}

 button{
     border-radius: 10px;
     display: flex;
     float: right;
     width: 90px;
     text-align: center;
     font-size: 15px;
 }

hr{
    margin-top: 40px;
    color: #5A595b;
}


.littitre{
    font-size: 50px;
}

a{ 
    text-decoration:none;
}

.content{
    display: flex;
    flex-direction: column;
    float: left;
    width: 40%;
    background-color: #E3E3E3;
    padding: 30px 30px;
    margin-top: 25px;
}
.video{
   display: flex;
   float: right;
   justify-content: right;
   margin-right: 150px;
   margin-top: 20px;

}

@media(max-width: 700px)
{
    body{ 
        width: 20px;
    }

    .titre{
        width: auto;
        height: 60px;
        font-size: 65px;
        text-align: center;   
}
    
    .box{
        display: flex;
        float: none;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
        margin:auto;
        padding: auto;  
    }
}