body{
    margin: 0px;
    padding: 0px;
    background: #FCFCFC;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/*Barre de Navigation*/
.menu .burger{
  display: none;
  
}

.menu{
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-areas: "logo nav";
  grid-template-columns: 10% 90%;
  padding-top: 5px;
  position: fixed;
  background-color: #FCFCFC;
  width: 100%;
  padding: auto;
  margin-top: -60px;
  
}
.menu > nav{
  grid-area: nav;
  justify-content: flex-end;
  align-self: center;
  justify-self: end;
}

header{
    background: #FCFCFC;
}

header ::after{
    content: '';
    display: flex;
    clear: both;
}
nav ul{
    display: inline-flex;
    margin: 0;
    padding: 15px;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

nav li{
    margin-left: 5px;
    margin-right: 5px;
    font-display: inherit;

}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

ul li a::before{
    content: '';
    width: 10px;
    height: 1px;
    background: black;
    position: absolute;
    top: 35px; left: 10px;
    transition: .5s;
    margin-top: 5px;
    opacity: 0;

}

ul li:hover a::before{
    width: 50%;
    transform: translate(100%);
    opacity: 1;
}



/*Galerie Première Catégorie*/

#Categorie1 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "pica pica picb picb picc picc picd picd"
                         "pice picf picf picg picc picc pici picj"
                         "pice picl picm picg pich pich pici pick"
                         "picn picn picm pico pico picp picp pick";
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    margin-top: 60px;
    grid-gap: 2px;
  }
  
  #Categorie1 > .Pic1 {
    grid-area: pica;
    background-color: #8ca0ff;
    background-image: url(paysage.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic2 {
    grid-area: picb;
    background-color: #ffa08c;
    background-image: url(paysage2.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic3 {
    grid-area: picc;
    background-color: #ffff64;
    background-image: url(paysage3.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic4 {
    grid-area: picd;
    background-color: #8cffa0;
    background-image: url(paysage4.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic5 {
    grid-area: pice;
    background-color: #8ca0ff;
    background-image: url(paysage5.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic6 {
    grid-area: picf;
    background-color: #ffa08c;
    background-image: url(paysage6.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic7 {
    grid-area: picg;
    background-color: #ffff64;
    background-image: url(paysage7.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic8 {
    grid-area: pich;
    background-color: #8cffa0;
    background-image: url(paysage8.jpg);
    background-position: center;
    background-size: cover;
  }

  #Categorie1 > .Pic9 {
    grid-area: pici;
    background-color: #8ca0ff;
    background-image: url(paysage9.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic10 {
    grid-area: picj;
    background-color: #ffa08c;
    background-image: url(paysage10.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic11 {
    grid-area: pick;
    background-color: #ffff64;
    background-image: url(paysage11.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic12 {
    grid-area: picl;
    background-color: #8cffa0;
    background-image: url(paysage12.jpg);
    background-position: center;
    background-size: cover;
  }

  #Categorie1 > .Pic13 {
    grid-area: picm;
    background-color: #8ca0ff;
    background-image: url(paysage13.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic14 {
    grid-area: picn;
    background-color: #ffa08c;
    background-image: url(paysage14.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic15 {
    grid-area: pico;
    background-color: #ffff64;
    background-image: url(paysage15.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie1 > .Pic16 {
    grid-area: picp;
    background-color: #8cffa0;
    background-image: url(paysage16.jpg);
    background-position: center;
    background-size: cover;
  }

/*Galerie Deuxième Catégorie*/

#Categorie2 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "pica pica picb picb picc picc picd picd"
                         "pice picf picf picg picc picc pici picj"
                         "pice picl picm picg pich pich pici pick"
                         "picn picn picm pico pico picp picp pick";
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-gap: 2px;
    margin-top: 8px;

  }
  
  #Categorie2 > .Pic1 {
    grid-area: pica;
    background-color: #8ca0ff;
    background-image: url(panda.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic2 {
    grid-area: picb;
    background-color: #ffa08c;
    background-image: url(panda2.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic3 {
    grid-area: picc;
    background-color: #ffff64;
    background-image: url(panda3.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic4 {
    grid-area: picd;
    background-color: #8cffa0;
    background-image: url(panda4.png);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic5 {
    grid-area: pice;
    background-color: #8ca0ff;
    background-image: url(panda5.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic6 {
    grid-area: picf;
    background-color: #ffa08c;
    background-image: url(panda6.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic7 {
    grid-area: picg;
    background-color: #ffff64;
    background-image: url(panda7.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic8 {
    grid-area: pich;
    background-color: #8cffa0;
    background-image: url(panda8.jpg);
    background-position: center;
    background-size: cover;
  }

  #Categorie2 > .Pic9 {
    grid-area: pici;
    background-color: #8ca0ff;
    background-image: url(panda9.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic10 {
    grid-area: picj;
    background-color: #ffa08c;
    background-image: url(panda10.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic11 {
    grid-area: pick;
    background-color: #ffff64;
    background-image: url(panda11.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic12 {
    grid-area: picl;
    background-color: #8cffa0;
    background-image: url(panda12.jpg);
    background-position: center;
    background-size: cover;
  }

  #Categorie2 > .Pic13 {
    grid-area: picm;
    background-color: #8ca0ff;
    background-image: url(panda13.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic14 {
    grid-area: picn;
    background-color: #ffa08c;
    background-image: url(panda14.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic15 {
    grid-area: pico;
    background-color: #ffff64;
    background-image: url(panda15.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #Categorie2 > .Pic16 {
    grid-area: picp;
    background-color: #8cffa0;
    background-image: url(panda16.jpg);
    background-position: center;
    background-size: cover;
  }

  /*FOOTER*/


  .footer1{
    background-color: #292C2F;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
    margin-top: 80px;
    display: inline-block;
    vertical-align: top;
    }
    
    
    /* Footer left */
    
    .footer-left{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    }
    
    /* The company logo */
    
    .footer1 h3{
    color: #FFFFFF;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    }
    
    .footer1 h3 span{
    color: #5383D3;
    }
    
    /* Footer links */
    
    .footer-links{
    color: #FFFFFF;
    margin: 20px 0 12px;
    padding: 0;
    }
    
    .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    }
    
    .footer-company-name{
    color: #8F9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    }
    
    /* Footer Center */
    
    .footer-center{
    display: inline-block;
    vertical-align: top;
    width: 35%;
    }
    
    .footer-center i{
    background-color: #33383B;
    color: #FFFFFF;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    }
    
    .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
    }
    
    .footer-center p{
    display: inline-block;
    color: #FFFFFF;
    vertical-align: middle;
    margin:0;
    }
    
    .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
    }
    
    .footer-center p a{
    color: #5383D3;
    text-decoration: none;;
    }
    
    
    /* Footer Right */
    
    .footer-right{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    }
    
    .footer-company-about{
    line-height: 20px;
    color: #92999F;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    }
    
    .footer-company-about span{
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    .footer-icons{
    margin-top: 25px;
    }
    
    .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383B;
    border-radius: 2px;
    
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
    }  

    /*Responsive Mobile*/

@media (max-width:720px){

  /*Barre de Navigation*/

  .menu
  {
  background:#FCFCFC;
  color:#222;
  height:50px;
  position:fixed;
  width: 100%;
  height: 50px;
  }

  .menu{
    height: 50px;
  }
  
  .menu > #logo{
    position: relative;
    top: 15px;
    margin: -50px;
  }

  .menu .burger
  {
  display: block;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:10px;
  width:50px;
  }

  .menu .burger:before
  {
  content:'Clic';
  }

  .menu .burger:checked:before
  {
  content:'X';
  }

  .menu nav
  {
  background:#FCFCFC;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .8s;
  text-align: center;
  display: flex;

  }

  .menu nav > *
  {
  flex-direction: column;
  letter-spacing:.5px;
  line-height:2;
  padding: 20px;
  width: 100vh;
 
  }


  nav li{
    display: flex;
    flex-flow: column;
    text-align: center;
  }


  .burger:checked + nav
  {
  height:calc(100vh);
  width: 100vw;
  }

  nav a{
    font-size: 160%;
  }


  /*catégori 1*/

  #Categorie1 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "pica"
                          "picb"
                          "picc"
                          "picd"
                          "pice"
                          "picf"
                          "picg"
                          "pich"
                          "pici"
                          "picj"
                          "pick"
                          "picl"
                          "picm"
                          "picn"
                          "pico"
                          "picp";
    grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
    grid-template-columns: 100vw;
    margin-top: 60px;
  }

  #Categorie2 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "pica"
                          "picb"
                          "picc"
                          "picd"
                          "pice"
                          "picf"
                          "picg"
                          "pich"
                          "pici"
                          "picj"
                          "pick"
                          "picl"
                          "picm"
                          "picn"
                          "pico"
                          "picp";
    grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh 50vh ;
    grid-template-columns: 100vw;
    margin-top: 5000px;
}

  .footer1{
    margin-top: 5430px;
  }