body{
margin: 0px;
padding: 0px;
background: #FCFCFC;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
}

/* Sticky Calendar */

.contact-form-page{
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  position: fixed;
  bottom: 42px;
  right: 42px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #262626;

}

.show-profile{
  background: #262626;
  height: 87%;
  display: block;
  width: 336px;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow-y: scroll;
  border-radius: 0;
  z-index: 5;
}

.form-profile-img{
  float: left;
}

.form-profile-img img{
  border-radius: 50%;
  margin: 20px 0 0 14px;
}

.top-btn{
position: absolute;
top: 15px;
right: 15px;
background: #d52349;
color: #fff;
padding: 15px 0;
text-align: center;
width: 60px;
height: 60px;
border-radius: 50%;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
opacity: 0;
}

.top-btn:hover{
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
background: #d52349;
color: #fff
}

.header-btn, .footer-btn a{
font-size: 20px;
color: #fff;
background: #122;
float: right;
}

.form-head{
display: block;
}

.cancel-btn-img{
position: relative;
}

.footer-btn{
position: relative;
}

.buttom-btn{
position: fixed;
bottom: 30px;
right: 30px;
background: #d52349;
color: #fff;
padding: 21px;
text-align: center;
width: 75px;
height: 75px;
border-radius: 50%;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
opacity: 1;
z-index: 5;
}
.buttom-btn i{
font-size: 30px;
}

.buttom-btn:hover{
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
background:#d52349;
color: #fff
}

/* BUTTON OPACITY STYLE */

.top-btn-show{
z-index: 5;
opacity: 1 !important;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
.buttom-btn-hide{
opacity: 0 !important;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

/* DATES */

.wrapper ul.dates {
list-style: none;
padding-left: 0;
}

.wrapper ul.dates li {
position: relative;
border-top: solid 1px #ddd;
padding: 1.3em 0 1.3em 6.75em;
text-transform: none;


}

.wrapper ul.dates .date {
display: block;
position: absolute;
left: 0;
top: 1.3em;
background-color: #d52349;
height: 3.5em;
text-align: center;
color: #fff;
line-height: 1em;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
padding: 0.5em 0.75em 0 1em;

}

.wrapper ul.dates .date:after {
content: '';
position: absolute;
bottom: 0;
right: -1.2em;
border-left: solid 1.25em #d52349;
border-top: solid 1.8em transparent;
border-bottom: solid 1.8em transparent;
}

.wrapper ul.dates .date strong {
display: block;
font-size: 1.75em;
padding-top: 0.15em;
}

.wrapper ul.dates h3 {
font-size: 1.1em;

}

.wrapper ul.dates p {
margin: 0;
color: #FFFFFF;
font-size: 0.9em;

}

.wrapper ul.dates li:first-child {
border-top: 0;
padding-top: 25%;
}

.wrapper ul.dates li:first-child .date {
top: 5;
}

.wrapper ul.dates li a {
color: #FCFCFC
}

/*NAVBAR*/

header .box .logo{
height: 75%;
align-content: left;
position: absolute;
padding-left: 20px;
top: 20px;
}

ul li{
list-style: none;
display: inline-block;
text-transform: uppercase;
padding-right: 30px;
font-size: 16px;
}

header .menu ul li a{
text-decoration: none;
color: #262626;
position: relative;
}

.menu{
text-align: right;
padding-top: 39px;
padding-right: 10px;
}

header .box{
background-color: #fcfcfc;
width: 100%;
height: 100px;
font-family: Arial, Helvetica, sans-serif;
position: absolute;
z-index: 1;
margin-top: -15px;
position: fixed;
}

nav{
text-align: right;
}

ul li a::before{
content: '';
width: 10px;
height: 1px;
background: black;
position: absolute;
top: 100%;
left: 0%;
transition: .5s;
margin-top: 5px;
opacity: 0;
}

ul li:hover a::before{
width: 50%;
transform: translate(100%);
opacity: 1;
}

.burger{
display: none;
}



.card{
background-image: url(https://i.postimg.cc/1t6QRwjD/mountain-top-1702408-1920.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
background-attachment: fixed;
} 

.card .box{
position: relative;
width: 270px;
height: 350px;
background: #ffffff;
float: left;
margin-left: 50%;
margin-top: 17.5%;
transform: translate(-50%, 10%);
text-align: center;
padding-top: 50px;
border-radius: 3%;
opacity: 0.8; 
}

h2{
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 20px;
}

.picture{
border-radius: 50%;
width: 100px;
height: 100px;

}

.button-request a {
color: #262626;
}
  
  
/*.icon{
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
padding: 0;

}



.next{
list-style: none;
width: 80px;
height: 80px;
transition: 0.5s;

border-color: #FCFCFC;
border-radius: 50%;
border-style: solid;
border-width: 1px;

}

.next:hover{
background: rgb(92, 92, 92);  
}


.next span{
display: block;
position: absolute;
width: 20px;
height: 20px;
border: 1px solid #fff;
top: 35px;
left: 30px;
transform: translateY(-40%) rotate(-45deg);
border-top: none;
border-right: none;
animation: animate 2s infinite;
}

@keyframes animate{
0%
{
  transform: translateY(-50px);
}
}
*/


#sectionII{
width: 100%;
height: 45vh;
background-color: #FCFCFC;
background-attachment: fixed;
position: relative;
}

#sectionII .si{
position: absolute;
width: 250px;
right: 280px;
top: 41px;
}

#sectionII h3{
text-align: center;
margin-left: -42%;
margin-top: 0;
padding-top: 5%;
font-size: 2.5em;
font-family: Arial, Helvetica, sans-serif;
}

.text{
margin-right: 40%;
padding-top: 10px;
font-size: 0.9em;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-bottom: 30px;
}

.request{
margin-left: 25%;
padding-top: 1px;
text-align: center;
width: 180px;
height: 20px;
border: 1px solid #262626;
border-radius: 5%;
}


#slider, .wrap, .slide-content{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 100vh;
overflow-x: hidden;
}

.wrap{
position: relative
}

.slide{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.slide1{
background-image: url(https://i.postimg.cc/nrbvSqCj/nature.jpg)
}

.slide2{
background-image: url(https://i.postimg.cc/pLZq9cy0/portrait.jpg)
}

.slide3{
background-image: url(https://i.postimg.cc/qRCsG1MH/city.jpg)
}

.slide4{
background-image: url(https://i.postimg.cc/C5Gb3dqv/animaux.jpg)
}

.slide-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.slide-content span{
font-size: 5rem;
color: #FCFCFC;
}

.arrow{
cursor: pointer;
position: absolute;
top: 50%;
margin-top: -35px;
width: 0;
height: 0;
border-style: solid;
}

#arrow-left{
border-width: 15px 25px 15px 0;
border-color: transparent #fff transparent transparent;
left: 0;
margin-left: 30px;
}

#arrow-right{
border-width: 15px 0px 15px 25px ;
border-color:  transparent transparent transparent #fff;
right: 0;
margin-right: 30px;
}

span a{
color: white;
}

span a:hover{
color: white;
}


/* START ARESKI */


.gallery-container h1 {
text-align: center;
margin-top: 70px;
font-family: 'Droid Sans', sans-serif;
font-weight: bold;
color: #58595A;
}

.gallery-container p.page-description {
text-align: center;
margin: 30px auto;
font-size: 18px;
color: #85878C;
}

.tz-gallery {
padding: 40px;
}

.thumbnail {
padding: 0;
margin-bottom: 30px;
background-color: #FFF;
border-radius: 4px;
border: none;
transition: 0.15s ease-in-out;
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.thumbnail:hover {
transform: translateY(-10px) scale(1.02);
}

.lightbox img {
border-radius: 4px 4px 0 0;
}

.caption{
padding: 26px 30px;
text-align: center;
}

.caption h3 {
font-size: 14px;
font-weight: bold;
margin-top: 0;
text-align: center;
margin-right: 0%!important;
}

.caption p {
font-size: 12px;
color: #7B7D7D;
margin: 0;
}



/*////// FOOTER  ////////*/ 

.footer1{
background-color: #292C2F;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;

padding: 55px 50px;
margin-top: 80px;
display: inline-block;
vertical-align: top;
}


/* Footer left */

.footer-left{
display: inline-block;
vertical-align: top;
width: 40%;
}

/* The company logo */

.footer1 h3{
color: #FFFFFF;
font: normal 36px 'Cookie', cursive;
}

.footer1 h3 span{
color: #5383D3;
}

/* Footer links */

.footer-links{
color: #FFFFFF;
margin: 20px 0 12px;
padding: 0;
}

.footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color: inherit;
}

.footer-company-name{
color: #8F9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-center{
display: inline-block;
vertical-align: top;
width: 35%;
}

.footer-center i{
background-color: #33383B;
color: #FFFFFF;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-center p{
display: inline-block;
color: #FFFFFF;
vertical-align: middle;
margin:0;
}

.footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-center p a{
color: #5383D3;
text-decoration: none;;
}


/* Footer Right */

.footer-right{
display: inline-block;
vertical-align: top;
width: 20%;
}

.footer-company-about{
line-height: 20px;
color: #92999F;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-company-about span{
display: block;
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-icons{
margin-top: 25px;
}

.footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color: #33383B;
border-radius: 2px;

font-size: 20px;
color: #FFFFFF;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}


/*Responsive Mobile*/
  
@media (max-width:720px){

  .card .box{
  position: relative;
  width: 200px;
  height: 200px;
  background: #ffffff;
  float: left;
  margin-left: 50%;
  margin-top: 22.5%;
  transform: translate(-50%, 10%);
  text-align: center;
  padding-top: 50px;
  border-radius: 3%;
  opacity: 0.8; 
  }

  h2{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 20px;
  font-size: 1em;

  }

  .picture{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: -30px;

  }

  .box p{
  font-size: 0.5em;
  }

  /*Barre de Navigation*/

  .box
  {
  background:#FCFCFC;
  color:#262626;
  position:fixed;
  width: 100%;
  height: 90px;

  }

  .box .burger
  {
  display: block;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:30px;
  right:10px;
  width:50px;
  }

  .box .burger:before
  {
  content:'menu';
  }

  .box .burger:checked:before
  {
  content:'X'; 
  }

  .box nav
  {
  background:#FCFCFC;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .8s;
  text-align: center;
  display: flex;
  }

  .box nav > *
  {
  flex-direction: column;
  letter-spacing:.5px;
  line-height:2;
  padding-top: 50%;
  width: 100vh;
  }

  nav li{
  display: flex;
  flex-flow: column;
  text-align: center;
  }

  .burger:checked + nav
  {
  height:calc(110vh);
  width: 100vw;
  }

  nav a{
  font-size: 160%;
  }

  ul li a::before{
  content: '';
  width: 15%;
  height: 1px;
  background: black;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: .5s;
  margin-top: -7.5px;
  opacity: 0;
  }
  
  ul li:hover a::before{
  width: 33.4%;
  transform: translate(100%);
  opacity: 1;
  }
}